<div>
  <h2>Please upload an image.</h2>
  <p><em>Note: please ensure it's at least 960 x 300 pixels in size.</em></p>
</div>

<form method="post" action="/upload" enctype="multipart/form-data">
  <div class="form-group">
    <input type="file" name="file">
  </div>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>
<div class="container center">
  <canvas id="canvas-video" width="640" height="480"></canvas>
</div>

<script>
  var socket = io.connect('http://localhost');

  var canvas = document.getElementById('canvas-video');
  var context = canvas.getContext('2d');
  var img = new Image();

  // show loading notice
  context.fillStyle = '#333';
  context.fillText('Loading...', canvas.width/2-30, canvas.height/3);

  socket.on('frame', function (data) {
    console.log('adsfasdfasdf');
  var uint8Arr = new Uint8Array(data.buffer);
  var str = String.fromCharCode.apply(null, uint8Arr);
  var base64String = btoa(str);

  img.onload = function () {
    context.drawImage(this, 0, 0, canvas.width, canvas.height);
  };
  img.src = 'data:image/png;base64,' + base64String;
  });
</script>
